# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. Scala
4. Julia
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. Pandas
4. Scikit-Learn 
5. TensorFlow
6. PyTorch
7. Keras

| Data Science Tools |
| --- |
| Apache Hadoop |
| RStudio |
| Apache Spark  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
(3*4)+5     #This a simple arithmetic expression to mutiply then add integers

17

In [10]:
200/60   # This will convert 200 minutes to hours by diving by 60

3.3333333333333335

Objectives:
- markdown
- comments
- mathematical expressions
- how to use jupyter notebook
- share notebook on github

## Sarmad Bilal